
#navbar {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.left-nav p, .right-nav p {
  margin: 0; 

}


.left-nav, .right-nav {
  display: flex;
  align-items: center;
  gap: 2rem;    
}